@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova-regular.woff2') format('woff2'),
       url('/fonts/proximanova-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova-light.woff2') format('woff2'),
       url('/fonts/proximanova-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova-semibold.woff2') format('woff2'),
       url('/fonts/proximanova-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Navigation';
  src: url('/fonts/navigation.woff2') format('woff2'),
       url('/fonts/navigation.woff') format('woff'),
       url('/fonts/navigation.ttf') format('truetype'),
       url('/fonts/navigation.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Proxima Nova", -apple-system, Roboto, Arial, sans-serif;
  background-color: #f5f5f5;
  min-height: 100vh;
}

